# API URL for your application
NEXT_PUBLIC_API_URL="<api-url>"

# A random string used to hash tokens, sign cookies and generate cryptographic keys
# You can generate a secure random string
NEXTAUTH_SECRET="<random-string>"

# The URL of your deployed Next.js application, used by NextAuth for redirects in production. This defaults to localhost:3000.
NEXTAUTH_URL=https://example.com